@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
    .pseudoBefore {
        @apply relative z-10 before: absolute before:-z-10 before:content-[''];
    }
} */

body {
    font-family: 'Inter', sans-serif;
}
.cardPseudo {
    position: relative;
    /* z-index: 5; */
}

.cardPseudo::after {
    content: "";
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    width: 80px;
    height: 80px;
    border-radius: 1.5rem 0 1rem 0;
    z-index: -1;
    transition: 300ms cubic-bezier(1, 0, 0, 1);
}

.cardPseudo:hover::after {
    bottom: -1.5rem;
    left: -1.5rem;
}


.sectionfirst{
    background-color: #264653;
}
.bgImg{
    position: absolute;
    width: 100%!important;
    height: 100%!important;
}
.headingSection1{
    /*font-size: 46px!important;*/
    /*line-height: 3.5rem!important;*/
    color:white;
    font-weight: 600;
    font-family: 'Inter', sans-serif;

}
.googleLogin{
    margin-top: 15px;
}
.headingDev{
    margin-top: 103px;
}
.custom-height-lg {
    height: 100vh; /* Set the height to the viewport height */
}

.custom-height-md {
    height: 550px;
}

.custom-height {
    height: 950px;
}
.ptag{
    margin-top: 23px;
    /*font-size: 20px;*/
    /*font-size: 21px!important;*/
    /*line-height: 31px!important;*/
    font-weight: 300;
    margin-bottom: 25px;
}
.applelg{
    max-height: 450px;
    margin: 52px 0px 0px 0px;
}
.applesm{
    max-height: 588px;
    margin: 0px 45px 225px 0px;
    z-index: 999999;
}
.becomepro{

    padding: 15px 24px;

    left: 1161px;
    top: 52px;
    background: #FFFFFF;
    border-radius: 5.81px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 121.18%;
    color: #363636;
    flex: none;
    order: 0;
    flex-grow: 0;


}
.section2Heading{
    font-weight: 700;
    font-family: 'Inter', sans-serif;

    color: #000000;
}
.cardSeperate {
    border-right: 2px solid #ccc; /* Add a right border to separate cards */
    padding: 0px 35px 0px 10px;
}
.footertermsSeperate{
    border-right: 2px solid #ccc;
    padding: 0px 12px 0px 10px;
}
.footerSeperate {
    border-bottom: 2px solid #ccc; /* Add a right border to separate cards */
    margin: 23px 0px 0px 0px;
}
.moreServices{

    width: 255.22px;
    height: 57px;
    left: calc(50% - 255.22px/2 - 0.39px);
    top: 2129px;
    background: #264653;
    border-radius: 3.3977px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18.1211px;
    line-height: 22px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;

}
.joinusTxt{
    width: 482px;
    height: 68px;
    left: calc(50% - 482px/2 - 406.5px);
    font-style: normal;
    font-family: 'Inter';

    font-weight: 700;
    font-size: 48px;
    line-height: 140.68%;
    color: #000000;
    font-size: 35px!important;
}
.rectangleEmail {
    /* Rectangle 64 */

    box-sizing: border-box;
    width: 625px;
    height: 63px;
    background: #F2F2F2;
    border: 1px solid #3F3F3F;
    border-radius: 8px;

}
.rectanglenumber {
    /* Rectangle 64 */

    box-sizing: border-box;
    width: 625px;
    height: 63px;
    background: #F2F2F2;
    border: 1px solid #3F3F3F;
    border-radius: 8px;


}
.rectangletextarea {
    /* Rectangle 64 */
    height: 160px;
    box-sizing: border-box;
    width: 625px;

    background: #F2F2F2;
    border: 1px solid #3F3F3F;
    border-radius: 8px;

}
.container {
    text-align: center; /* Center align the button horizontally */
}
.contactbtn{

    height: 57px;
    background: #264653;
    border-radius: 3.3977px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18.1211px;
    line-height: 22px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 50%;
    padding: 10px;
    margin-top: 20px; /* Add top spacing */
}


/* Adjust placeholder style */
.rectangleEmail::placeholder,
.rectanglenumber::placeholder,
.rectangletextarea::placeholder {
    color: #999; /* Change the color of the placeholder text */
    padding-left: 5px; /* Adjust the left padding of the placeholder */
}

.rectangleEmail,
.rectanglenumber,
.rectangletextarea {
    width: 100%;
    padding: 10px; /* Adjust padding as needed */
    margin: 4px 0; /* Add vertical spacing between form fields */
}
.footercolor{
    background-color: #279B90;
}
.social{
    width: 103px;
    position: absolute;
    right: 113px;
}
.terms{
    text-align: right;
    /* position: relative; */
    /* left: 120px; */
    width: 120%;
}
.footerend{
    margin-top: 27px;
}
.footerimgmain{
    justify-content: flex-end;
}
.termscondition{
    font-size: 30px!important;
    font-family: 'Inter';

    font-weight: 700;}
    


/*timeline*/


.section-timeline {
    position: relative;
    padding: 50px 0;
    overflow: auto;
    min-width: 700px;
    background-color: #279B90;
}
.section-timeline .container {
    max-width: 1100px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    height: 758px;
    display: flex;
    justify-content: center;
    position: relative;
}

.section-timeline .timeline {
    list-style: none;
    position: relative;
    margin: 30px 0;
}
.section-timeline .timeline li {
    height: 180px;
    width: 170px;
    position: absolute;
    border-color: var(--clr-border-timeline);
}
.section-timeline  .img-content-left {
    margin-top: 30px;
    margin-left: 27px;
}
.section-timeline  .img-content-right {
    margin-top: 30px;
    margin-right: 27px;
}
.section-timeline .img-span{
    background-color: white;
    height: 118px;
    width: 118px;
    display: block;
    border-radius: 50%;
    object-fit: contain;
    padding: 15px;
}
.section-timeline .timeline li:nth-child(odd) {
    color: #ffffff;
    border-style: solid;
    border-width: 2px 2px 2px 0;
    left: -40px;
    transform: translateX(50%);
    border-radius: 0 30px 0px 0;
}
.section-timeline .timeline li:nth-child(even) {
    color: #ffffff;
    left: -40px;
    border-style: solid;
    border-width: 2px 0 2px 2px;
    transform: translateX(-50%);
    border-radius: 30px 0 0 0px;
}

.section-timeline .timeline li:nth-child(4){
    border-width: 2px 0 2px 2px;
    transform: translateX(-50%);
    border-radius: 30px 0 0 0px;
    border-bottom:0px

}
/* Style li */
.section-timeline .timeline li:nth-child(2) {
    top: 178px;
}
.section-timeline .timeline li:nth-child(3) {
    top: 356px;
}
.section-timeline .timeline li:nth-child(4) {
    top: 534px;
}
.section-timeline .timeline li:nth-child(5) {
    top: 712px;
}
.section-timeline .timeline li:nth-child(6) {
    top: 890px;
}

/* Style pseudo Element */

.section-timeline .timeline li:nth-child(odd):before {
    right: 0;
    transform: translateY(-50%) translateX(50%);
}
.section-timeline .timeline li:nth-child(even):before {
    left: 0;
    transform: translateY(-50%) translateX(-50%);
}

.section-timeline .timeline li:nth-child(1):after,
.section-timeline .timeline li:last-child:after {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--clr-border-timeline);
}
.section-timeline .timeline li:nth-child(1):after {
    top: 0;
    transform: translate(-50%, -50%)
}
.section-timeline .timeline li:last-child:after {
    bottom: 0;
    right:0;
    transform: translate(50%, 50%)
}


/* Style content */
.section-timeline .timeline .content {
    /*border: 1px solid #F2F2F2;*/
    color: #ffffff;
    position: absolute;
    min-width: 285px;
    border-radius: 10px;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    /*max-height: 120px;*/
    /*box-shadow: 0 15px 25px -20px rgba(0, 0, 0, .2);*/
}
.section-timeline .timeline li:nth-child(odd) .content {
    left: calc(100% + 30px);
}
.section-timeline .timeline li:nth-child(even) .content {
    right: calc(100% + 30px);
}

.section-timeline .timeline .content > * {
    /*padding: .5rem;*/
}
.section-timeline .timeline .content h3 {
    text-align: start;
    font-size: 26px;
    text-align: start;
    font-family: 'Inter';

    /*margin: 0;*/
    /*box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .4);*/
}

.section-timeline .timeline .content p {
    font-family: 'Inter';

    font-size: 14;
    line-height: 1.3;
    text-align: start;
}
.profile{
    position: absolute;
    width: 18%!important;
    left: 380px;
    top: 82px;
    max-height: 560px;
}

.img-1{
    position: absolute;
    max-height: 378px;
}
.img-2{
    max-height: 372px;
    margin-left: 6px;
    margin-top: 2.5px;
}


@media screen and (max-width: 1123px) {
    .img-1{
        max-height: 178px;
    }
    .img-2{
        max-height: 172px;}
    .applelg{
        max-height: 150px;
    }
}
.howitworkTxt{
    position: absolute;
    /* left: 483px; */
    color: #FFF;
    font-family: 'Inter';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 140.682%;
}
.arrowicon{
    width: 16px;
    max-height: 21px;
    position: relative;
    left: 47px;
    top: 20px;
}